@font-face {
  font-family: DSMenu;
  font-display: swap;
  src: url(../orange%20soapstone/font.ttf);
}

@font-face{
	font-family: TIC80;
	font-display: swap;
	src: url(../index/TIC/04b03Regular.ttf);
}

@font-face{
	font-family: Dweller;
	font-display: swap;
	src: url(../index/dweller/Pixellari.ttf);
}

@keyframes disappear{
	0%{
		transform: scale(1);
	}
	99%{
		opacity:1;
		position: inherit;
	}
	100%{
		transform: scale(0,1);
		opacity: 0;
		position: absolute;
	}
}

@keyframes appear{
	0%{
		transform: scale(0,1);
		opacity: 0;
		position: absolute;
	}
	1%{
		opacity: 1;
		position: relative;
	}
	100%{
		transform: scale(1);

	}
}

html {
	color: #cad3f5;
	font-family: Arial;
	font-size: 17px;
	overflow: auto;
	overflow-x: hidden;
	scrollbar-color: #494d64 #24273a;
}

body {
	background-color: #181926;
	margin:0px;
	margin-bottom: 20px;
	display:grid;
}

img {
	float:left;
	margin:2px;
}

p {
	margin:5px;
}

iframe{
    overflow:hidden;
}

#header {
	font-family: 'Helvetica';
	line-height: 15pt;
	background-color: #24273a;
	border-bottom: 1px solid #363a4f;
	border-top: 1px solid #363a4f;
	padding: 10px 0px 10px 0px;
	margin-bottom: 5px;
	text-align: center;
}

#filters {
	font-family: 'Helvetica';
	user-select: none;
	font-size: 18px;
}

.filterbutton {
	display:inline;
}

.filterbutton.active {
	font-weight: bold;
}

.filterbutton:hover {
	opacity:80%;
	cursor: pointer;
	color: #a5adcb;
}

#filters p {
	display:inline;
}

#content {
	user-select: none;
	text-align: center;
}

.item {
	--scale: 1;
	vertical-align: top;
	width:25%;
	min-width: 260px;
	margin: 5px;
	display:inline-block;
	transition: transform 0.1s;
}
/*

.item:not(.invisible) {
	animation-name: appear;
	animation-duration:0.15s;
	animation-timing-function: linear;
}

.item.invisible {
	animation-name: disappear;
	animation-duration:0.15s;
	animation-timing-function: linear;
	animation-fill-mode: forwards;
}
*/
.item.invisible {
	display: none;
}

.item:hover, .item:focus {
	transform: scale(1.05);
}

.title{
	font-size: 150%
}

.date {
	font-size: 70%;
	text-align: left;
	opacity: 50%;
}

#social {
	position: absolute;
	top:20px;
	right:5px;
	display: block;
}

#social img {
	height:25px;
}
#social img:hover{
	filter:brightness(130%);
}

#soapstone {
	font-family: DSMenu;
	text-rendering: geometricPrecision;
	border-top: 25px solid;
	border-right: 22px solid;
	border-bottom: 27px solid;
	border-left: 17px solid;
	padding-top: 2px;
	padding-right: 5px;
	padding-left: 10px;
	border-image-source: url(../orange%20soapstone/bg/ds1/border.webp);
	border-image-slice: 25 22 27 17 fill;
	border-image-repeat: round;
	background-color: #131313;
}

#raycaster img{
	float:none;
	image-rendering: pixelated;
	image-rendering: crisp-edges;
	border-color: #1a1c2c;
	border-style: solid;
	margin:auto;
}
#raycaster {
	font-family: TIC80;
	font-size:16px;
	letter-spacing: 1px;
	text-rendering: auto;
	background-color:#333c57;
	padding: 6px;
	border-style: solid;
	border-color: #1a1c2c;
	color: #f4f4f4;
}

#raycaster a {
	color: #00c3ff
}
#raycaster a:visited {
	color: #00ffb7
}

#dweller img{
	float:none;
	image-rendering: pixelated;
	image-rendering: crisp-edges;
	width: 90%;
	height: auto;
	margin: auto;
}

#dweller {
	font-family: Dweller;
	font-size:16px;
	letter-spacing: 1px;
	text-rendering: auto;
	background-color:#000000;
	padding: 6px;
	border-width: medium;
	border-style: solid;
	border-color: #ffffff;
}

#ms-border {
	image-rendering: pixelated;
	background: linear-gradient(
		#0059e8 1px,
		#0059e8 2px,
		#2b90ff 3px,
		#2b90ff 4px,
		#016cfe 4px,
		#0053e1 8px,
		#0053e1 11px,
		#0051e5 11px,
		#0051e5 13px,
		#0060f9 28px,
		#0046e0 28px,
		#0143cf 30px
		);
	border-radius: 6px 6px 0px 0px;
	padding: 0px 3px 3px 3px;
}

#ms-header {
	display: inline-block;
	width:100%;
	height:20px;
	text-align: left;
	font-size:18px;
	margin: 5px 0px;
	text-shadow: 1px 1px 1px #0a1883;
}

#ms-header img {
	display:inline;
	float:none;
	margin: 0px;
}

#ms-header p {
	padding:-3pc;
	display:inline;
}

#minesweeper {
	color: black;
	font-family: Tahoma;
	font-size: 15px;
	display:inline-block;
	border: 3px solid transparent;
	border-image: url(/minesweeper/css/95/border-inv.webp) 3 stretch;
	background-color: #c0c0c0;
}

#minesweeper img {
	margin:auto;
	image-rendering: crisp-edges;
}

#canvasbg {
	position:fixed;
	z-index: -1;
}

iframe	{
	position:sticky;
	top:0;
	z-index:2;
}

a.notblue {
	text-decoration: none;
	color: inherit;
}

/*mobile*/

@media (max-width: 480px) {
	#social {
		position: relative;
		top:0;
		right:0;
		float:right;
		display:inline;
	}
}
