@font-face{
	font-family: Mukta Mahee;
	font-display: swap;
	src:url(https://fonts.gstatic.com/s/muktamahee/v7/XRXQ3IOIi0hcP8iVU67hA9vKUT8tDnti.woff2);
}

@font-face {
  font-family: DSMenu;
  font-display: swap;
  src: url(../orange%20soapstone/font.ttf);
}

@font-face{
	font-family: TIC80;
	font-display: swap;
	src: url(../index/TIC/04b03Regular.ttf);
}

@font-face{
	font-family: Dweller;
	font-display: swap;
	src: url(../index/dweller/Pixellari.ttf);
}

@keyframes disappear{
	0%{
		transform: scale(1);	
	}
	99%{
		opacity:1;
		position: inherit;
	}
	100%{
		transform: scale(0,1);
		opacity: 0;
		position: absolute;
	}
}

@keyframes appear{
	0%{
		transform: scale(0,1);
		opacity: 0;
		position: absolute;	
	}
	1%{
		opacity: 1;
		position: relative;
	}
	100%{
		transform: scale(1);
		
	}
}

html {
	background-color: #181818;
	color: white;
	font-family: Arial;
	font-size: 22px;
	overflow: auto;
	overflow-x: hidden;
}

body {
	margin:0px;
	margin-bottom: 20px;
	display:grid;
}

img {
	float:left;
	margin:2px;
}

p {
	margin:5px;
}

iframe{
    overflow:hidden;
}

#header {
	font-family: 'Mukta Mahee', sans-serif;
	line-height: 20pt;
	background-image: url(Top.webp);
	background-position: center;
  	background-repeat: no-repeat;
  	background-size: cover;
	padding: 10px 0px 40px 0px;
	margin-bottom:-17px;
	text-align: center;
}

#filters {
	font-family: 'Mukta Mahee', sans-serif;
	user-select: none;
	font-size: 18px;
}

.filterbutton {
	display:inline;
}

.filterbutton.active {
	font-weight: bold;
}

.filterbutton:hover {
	opacity:80%;
	cursor: pointer;
	color:#BBBBBB;
}

#filters p {
	display:inline;
}

#content {
	user-select: none;
	text-align: center;
}

.item {
	--scale: 1;
	vertical-align: top;
	width:25%;
	min-width: 260px;
	margin: 5px;
	display:inline-block;
	transition: transform 0.2s;
}

.item:not(.invisible) {
	animation-name: appear;
	animation-duration:0.15s;
	animation-timing-function: linear;
}

.item.invisible {
	animation-name: disappear;
	animation-duration:0.15s;
	animation-timing-function: linear;
	animation-fill-mode: forwards;
}

.item:hover {
	cursor: pointer;
	transform: scale(1.05);
}

.title{
	font-size: 150%
}

.date {
	font-size: 70%;
	text-align: left;
	opacity: 50%;
}

#social {
	position: absolute;
	top:20px;
	right:5px;
	display: block;
}

#social img {
	height:25px;
}
#social img:hover{
	filter:brightness(130%);
}

#soapstone {
	font-family: DSMenu;
	text-rendering: geometricPrecision;
	border-top: 25px solid;
	border-right: 22px solid;
	border-bottom: 27px solid;
	border-left: 17px solid;
	padding-top: 2px;
	padding-right: 5px;
	padding-left: 10px;
	border-image-source: url(../orange%20soapstone/bg/ds1/border.webp);
	border-image-slice: 25 22 27 17 fill;
	border-image-repeat: round;
}

#raycaster img{
	float:none;
	image-rendering: pixelated;
	border-color: #1a1c2c;
	border-style: solid;
	margin:auto;
}
#raycaster {
	font-family: TIC80;
	font-size:20px;
	letter-spacing: 1px;
	text-rendering: auto;
	background-color:#333c57;
	padding: 15px;
	border-style: solid;
	border-color: #1a1c2c;
}

#dweller img{
	float:none;
	image-rendering: pixelated;
	width: 90%;
	height: auto;
	margin: auto;
}
#dweller {
	font-family: Dweller;
	font-size:20px;
	letter-spacing: 1px;
	text-rendering: auto;
	background-color:#000000;
	padding: 15px;
	border-width: medium;
	border-style: solid;
	border-color: #ffffff;
}

#canvasbg {
	position:fixed;
	z-index: -1;
}

iframe	{
	position:sticky;
	top:0;
	z-index:2;
}

a.notblue {
	text-decoration: none;
	color: inherit;
}

/*mobile*/

@media (max-width: 480px) {
	#social {
		position: relative;
		top:0;
		right:0;
		float:right;
		display:inline;
	}
}