@font-face {
  font-family: DSMenu;
  font-display: swap;
  src: url(../orange%20soapstone/font.ttf);
}

@font-face{
	font-family: Mukta Mahee;
	font-display: swap;
	src:url(https://fonts.gstatic.com/s/muktamahee/v7/XRXQ3IOIi0hcP8iVU67hA9vKUT8tDnti.woff2);
}

html {
	background-color: #181818;
	color: white;
	font-family: Arial;
	font-size: 22px;
	overflow: auto;
	overflow-x: hidden;
}

body {
	margin:0px;
	display:grid;
}

img {
	float:left;
	margin:2px;
}

p {
	margin:5px;
}

iframe{
    overflow:hidden;
}

#header {
	font-family: 'Mukta Mahee', sans-serif;
	line-height: 20pt;
	background-image: url(Top.webp);
	background-position: center;
  	background-repeat: no-repeat;
  	background-size: cover;
	padding: 10px 0px 40px 0px;
	text-align: center;
}

#content {
	text-align: center;
}

.item {
	vertical-align: middle;
	width:25%;
	min-width: 260px;
	padding: 5px;
	margin:5px;
	display: inline-block;
	transition: 0.2s transform;
}

.item:hover {
	cursor: pointer;
	transform: scale(1.05);
}

.title {
	font-size: 30px;
}

#social {
	position: absolute;
	top:20px;
	right:5px;
	display: block;
}

#social img {
	height:25px;
}
#social img:hover{
	filter:brightness(130%);
}

#soapstone {
	font-family: DSMenu;
	text-rendering: geometricPrecision;
	border-top: 25px solid;
	border-right: 22px solid;
	border-bottom: 27px solid;
	border-left: 17px solid;
	padding-top: 2px;
	padding-right: 5px;
	padding-left: 10px;
	border-image-source: url(../orange%20soapstone/bg/ds1/border.webp);
	border-image-slice: 25 22 27 17 fill;
	border-image-repeat: round;
}

#canvasbg {
	position:fixed;
	z-index: -1;
}

iframe	{
	position:sticky;
	top:0;
	z-index:2;
}

a.notblue {
	text-decoration: none;
	color: inherit;
}

/*mobile*/

@media (max-width: 480px) {
	#social {
		position: relative;
		top:0;
		right:0;
		float:right;
		display:inline;
	}
}