main {
    padding-top: 1em;
    padding-bottom: 1em;
}

h1.title {
    margin: 0;
}

.date {
    color: var(--subtext);
}

p {
    margin: 1em 0;
    text-indent: 1em;
    text-align: justify;
}

figure {
    width: max-content;
    max-width: 80%;
    margin: 1em auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--fig-bg);
    border: 3px solid var(--fig-bg);
    border-radius: 6pt;
    overflow: clip;

    img {
        max-width: 100%;
    }

    figcaption {
        margin: 0 0.5em;
        margin-top: 3pt;
        text-align: center;
    }

    p {
        margin: 0;
        text-indent: 0;
        text-align: justify;
        text-align-last: center;
    }
}

// tangents
details {
    padding: 0.3em 1em;
    background-color: var(--fig-bg);
    border-radius: 6pt;

    summary {
        cursor: s-resize;
    }

    summary:after {
        content: "/ᐠ > ⩊ <マ";
        float: right;
        color: var(--subtext);
    }
}

details[open] summary {
    cursor: n-resize;
}

hr {
    border: none;
    border-top: solid 1px;
    margin: 0.5em 1em;
    color: var(--subtext);
}

hr.start_rule,
hr.end_rule {
    line-height: 1px;
    height: 2px;
    overflow: visible;
    text-align: center;
    border-left: none;
    border-right: none;
    border-top: solid 1px;
    border-bottom: solid 1px;
}

hr.end_rule {
    scale: -1 1;
}

hr.start_rule:after,
hr.end_rule:after {
    content: "ᓚᘏᗢ";
    background-color: var(--base);
    display: inline;
    padding: 0 0.5em;
}

footer {
    display: flex;
    justify-content: space-evenly;
    gap: 2em;
}

// inline code, code block and keyboard key fonts
pre,
code,
kbd {
    font-family: "Fira Code", monospace;
    font-size: 13pt;
}

// code bg
code,
pre.z-code {
    background-color: var(--syntax-bg);
    border-radius: 6pt;
}

// code blocks
pre.z-code {
    padding: 0.5em;
    overflow: auto;
}

pre.z-code[data-linenos] {

    table {
        td {
            padding: 0;
        }

        td:nth-of-type(1) {
            padding-right: 0.5em;
            user-select: none;
            color: var(--subtext);
            text-align: right;
        }
    }
}

// keyboard keys
kbd {
    display: inline-block;
    text-align: center;
    min-width: 17pt;
    padding: 2pt;
    margin: 0 2pt;
    background-color: var(--key-col);
    border-radius: 6pt;
    // border: 1px solid var(--subtext);
    box-shadow: inset 0 -2pt var(--key-shadow);
}

// text over other
.over {
    position: relative;

    .top {
        font-size: 0.5em;
        position: absolute;
        top: -0.6em;
        // centered over bottom
        left: 50%;
        transform: translateX(-50%);
    }
}

// Responsive stuff
@media screen and (max-width: 1250px) {
    main {
        width: 100%;
        box-sizing: border-box;
        padding: 0 2em;
    }
}