main {
	display: flex;
	align-items: start;
	gap: 2em;
	padding-bottom: 1em;
}

h2 {
	margin-bottom: 0.5em;
}

.info {
	flex-grow: 1;
}

aside {
	display: flex;
	flex-direction: column;
	margin-top: 2em;
	gap: 1em;
}

.toy {
	display: flex;
	flex-direction: column;
	flex-grow: 0;

	canvas {
		border: solid 3px var(--navbar);
		border-radius: 6pt 6pt 0 0;
	}

	.toy_caption {
		display: flex;
		justify-content: space-between;
		width: 100%;
		text-align: right;
		background-color: var(--navbar);
		color: var(--subtext);
		box-sizing: border-box;
		padding: 3pt 0.5em;
		border-radius: 0 0 6pt 6pt;

		:first-child {
			text-align: left;
		}

		:last-child {
			text-align: right;
		}

		a {
			color: var(--subtext);
			cursor: help;
		}
	}
}

.counter {
	background-color: var(--navbar);
	border: solid 3px var(--navbar);
	border-radius: 3px;
	align-self: center;
	padding: 3px;
	user-select: none;
}

.links {
	margin: 0;
	list-style-type: none;
	padding-left: 1em;
	display: flex;
	flex-direction: column;
}

// Responsive stuff
@media screen and (max-width: 1550px) {
	main {
		width: auto;
		padding-left: 1em;
		padding-right: 1em;
	}
}

@media screen and (max-width: 990px) {
	main {
		flex-direction: column;
		gap: 1em;
	}

	.toy {
		margin-top: 0;
		max-width: 80vw;
	}

	aside {
		margin: auto;
	}
}
