$item_padding: 1.5em;
$icon_size: 1em;

ul {
	list-style-type: none;
	padding-left: 0;
	display: flex;
	gap: 0.5em;
	flex-direction: column;
}

// pos relative + absolute means the .favilink padding
// overlaps the icon => link click area covers the icon too
li {
	position: relative;
	text-indent: hanging $item_padding;
}
.favilink_icon {
	z-index: -1;
	position: absolute;
	img {
		height: $icon_size;
		width: $icon_size;
		image-rendering: pixelated;
	}
}
.favilink {
	padding-left: $item_padding;
}

// buttons
.img_button {
	float: right;
	image-rendering: pixelated;
}

// waving text
$amplitude: 0.1em;
@keyframes wave {
	from {
		transform: translate(0, -$amplitude);
	}
	to {
		transform: translate(0, $amplitude);
	}
}
.wavy {
	white-space: nowrap;
	span {
		white-space: preserve-spaces;
		font-family: inherit;
		margin: 0;
		animation-name: wave;
		display: inline-block;
		animation-duration: 1s;
		animation-iteration-count: infinite;
		animation-direction: alternate-reverse;
		animation-timing-function: ease-in-out;
		// nice, negative time works
		animation-delay: calc(-100s + 0.1s * var(--i));
	}
}

// Responsive stuff
@media screen and (max-width: 1250px) {
	main {
		width: 100%;
		box-sizing: border-box;
		padding: 0 2em;
	}
}
