:root {
	--happy: url(/minesweeper/css/catppuccin/macchiato/face/happy.webp);
	--surprised: url(/minesweeper/css/catppuccin/macchiato/face/surprised.webp);
	--pressed: url(/minesweeper/css/catppuccin/macchiato/face/pressed.webp);
	--dead: url(/minesweeper/css/catppuccin/macchiato/face/dead.webp);
	--sunglasses: url(/minesweeper/css/catppuccin/macchiato/face/sunglasses.webp);
	--clicked: url(/minesweeper/css/catppuccin/macchiato/tiles/empty.webp);

	--redHappy: url(/minesweeper/css/catppuccin/macchiato/face/red/happy.webp);
	--redSurprised: url(/minesweeper/css/catppuccin/macchiato/face/red/surprised.webp);
	--redPressed: url(/minesweeper/css/catppuccin/macchiato/face/red/pressed.webp);
	--redDead: url(/minesweeper/css/catppuccin/macchiato/face/red/dead.webp);
	--redSunglasses: url(/minesweeper/css/catppuccin/macchiato/face/red/sunglasses.webp);
	--redClicked: url(/minesweeper/css/catppuccin/macchiato/tiles/red/empty.webp);

	--button_color: #494d64;
}

html {
	background-color:#24273a;
	image-rendering: crisp-edges;
}

#config {
	background-color: #24273a;
	border-bottom: 1px solid #363a4f;
	font-family: Helvetica;
	color: #cad3f5;
	font-size: calc(8pt*var(--text_scale));
}

.iButton {
	padding: 4px;
	border-radius: 3px;
}

.iButton:hover {
	background-color: var(--button_color);
	color: #cad3f5;
}

.iButton:focus {
	background-color: var(--button_color);
	color: #cad3f5;
}

.dropdown {
	background-color:#1e2030;
	padding: 3px;
}

#viewSettings > table {
	border-spacing: 0px;
}

input {
	background-color: #494d64;
	font-family: Helvetica;
	font-size:calc(8pt*var(--text_scale));
	width: 4em;
	border: none;
	color: #cad3f5;
	outline: none;
	border-radius: 3px;
	padding: 4px;
}

input:disabled {
	color: #a5adcb;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.bButton {
	cursor: pointer;
	outline: none;
	padding: 4px;
	border-radius: 3px;
}

.bButton:focus,.bButton:hover {
	background-color: var(--button_color);
	color: #cad3f5;
}

.checked {
	background-color: var(--button_color);
}

#customOK {
	background-color: var(--button_color);
	padding: 3px;
	padding-right:5px;
	text-align: center;
	border-radius: 3px;
}

select {
	background-color: #494d64;
	font-family: Helvetica;
	font-size:calc(8pt*var(--text_scale));
	padding: 4px;
	border-radius: 3px;
	max-width: 8em;
	color: #cad3f5;
	border: none;
	outline: none;
}

option {
	background-color: #494d64;
	color: #cad3f5;
}

#flagCircle {
	background-color: #ed8796;
}

#game {
	padding: 6px;
	border: 4px solid white;
	image-rendering: pixelated;
	border-image: url(catppuccin/macchiato/border-inv.webp) 4 stretch;
}

#header {
	image-rendering: pixelated;
	border:2px solid transparent;
	padding: 4px;
	margin-bottom: 6px;
	border-image: url(catppuccin/macchiato/border.webp) 2 stretch;
}

.counter {
	border: 1px solid transparent;
	border-image: url(catppuccin/macchiato/border.webp) 1 stretch;
}

.counter > div {
	background-size: cover;
	width: 13px;
	height: 23px;
	display: table-cell;
}

#face {
	background-size: cover;
	background-image: var(--happy);
	width: 24px;
	height: 24px;
	box-shadow:
		1px 1px 0px #363a4f,
		1px 0px 0px #363a4f,
		0px 1px 0px #363a4f,

		-1px -1px 0px #1e2030,
		-1px 0px 0px #1e2030,
		0px -1px 0px #1e2030;
}

#boardWrapper {
	display:block;
	image-rendering: pixelated;
	border: 3px solid transparent;
	border-image: url(catppuccin/macchiato/border.webp) 3 stretch;
}

#board td {
	background-size: cover;
}

.hidden {
	background-image: url(catppuccin/macchiato/tiles/hidden.webp);
	cursor: pointer;
}

.empty {
	background-image: var(--clicked);
}

.flag {
	background-image: url(catppuccin/macchiato/tiles/flag.webp);
	cursor: pointer;
}

.tile1 {
	background-image: url(catppuccin/macchiato/tiles/1.webp);
}

.tile2 {
	background-image: url(catppuccin/macchiato/tiles/2.webp);
}

.tile3 {
	background-image: url(catppuccin/macchiato/tiles/3.webp);
}

.tile4 {
	background-image: url(catppuccin/macchiato/tiles/4.webp);
}

.tile5 {
	background-image: url(catppuccin/macchiato/tiles/5.webp);
}

.tile6 {
	background-image: url(catppuccin/macchiato/tiles/6.webp);
}

.tile7 {
	background-image: url(catppuccin/macchiato/tiles/7.webp);
}

.tile8 {
	background-image: url(catppuccin/macchiato/tiles/8.webp);
}

.number0 {
	background-image: url(catppuccin/macchiato/numbers/0.webp);
}

.number1 {
	background-image: url(catppuccin/macchiato/numbers/1.webp);
}

.number2 {
	background-image: url(catppuccin/macchiato/numbers/2.webp);
}

.number3 {
	background-image: url(catppuccin/macchiato/numbers/3.webp);
}

.number4 {
	background-image: url(catppuccin/macchiato/numbers/4.webp);
}

.number5 {
	background-image: url(catppuccin/macchiato/numbers/5.webp);
}

.number6 {
	background-image: url(catppuccin/macchiato/numbers/6.webp);
}

.number7 {
	background-image: url(catppuccin/macchiato/numbers/7.webp);
}

.number8 {
	background-image: url(catppuccin/macchiato/numbers/8.webp);
}

.number9 {
	background-image: url(catppuccin/macchiato/numbers/9.webp);
}

.number- {
	background-image: url(catppuccin/macchiato/numbers/-.webp);
}
