:root {
	--happy: url(/minesweeper/css/xp/face/happy.webp);
	--surprised: url(/minesweeper/css/xp/face/surprised.webp);
	--pressed: url(/minesweeper/css/xp/face/pressed.webp);
	--dead: url(/minesweeper/css/xp/face/dead.webp);
	--sunglasses: url(/minesweeper/css/xp/face/sunglasses.webp);
	--clicked: url(/minesweeper/css/xp/tiles/empty.webp);
	--button_color: #1660e8;
}

html {
	background-color:#c0c0c0;
	image-rendering: crisp-edges;
	scrollbar-color: #B9CAFF #FFFFFF;
}

#config {
	background-color: #ebe9d8;
	font-family: Tahoma;
	font-size: calc(8pt*var(--text_scale));
}

.iButton:hover {
	background-color: var(--button_color);
	color:#ffffff;
}

.iButton:focus {
	background-color: var(--button_color);
	color:#ffffff;
}

.dropdown {
	background-color:#ffffff;
	border: 1px solid #808080;
	padding: 3px;
	box-shadow: 2px 2px 1px #646464;
}

#viewSettings > table {
	border-spacing: 0px;
}

input {
	background-color: rgba(255, 255, 255, 0);
	font-family: Tahoma;
	font-size:calc(8pt*var(--text_scale));
	width:4em;
	border: 1px solid rgba(0, 0, 0, 0.3);
	outline: none;
}

input:focus {
	background-color:rgba(22, 96, 232, 0.2);
	border: 1px solid #003973;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.bButton {
	cursor: pointer;
	outline: none;
	padding: 1px;
	padding-top: 0px;
	border: 1px solid rgba(0, 0, 0, 0.3);
}

.bButton:focus,.bButton:hover {
	background-color:rgba(22, 96, 232, 0.2);
	border: 1px solid #003973;
}

.checked {
	background-color:rgba(22, 96, 232, 0.1);
	border: 1px solid #3069A3;
}

#customOK {
	padding: 3px;
	padding-right:5px;
	border: 1px solid rgba(0, 0, 0, 0.3);
	text-align: center;
}

select {
	background-color: rgba(255, 255, 255, 0);
	font-family: Tahoma;
	font-size:calc(8pt*var(--text_scale));
	max-width: 8em;
	border: 1px solid rgba(0, 0, 0, 0.3);
	outline: none;
}

select:focus {
	background-color:rgba(22, 96, 232, 0.2);
	border: 1px solid #003973;
}

option {
	background-color: #ffffff;
}

#flagCircle {
	background-color: #ff0000;
}

#game {
	padding: 6px;
	border-top: 4px solid white;
	border-left: 4px solid white;
	padding-right: 10px;
	padding-bottom: 10px;
}

#header {
	image-rendering: pixelated;
	border:2px solid transparent;
	padding: 4px;
	margin-bottom: 6px;
	border-image: url(common/border.webp) 2 stretch;
}

.counter {
	border: 1px solid transparent;
	border-image: url(common/border.webp) 1 stretch;
}

.counter > div {
	background-size: cover;
	width: 13px;
	height: 23px;
	display: table-cell;
}

#face {
	background-size: cover;
	background-image: var(--happy);
	width: 24px;
	height: 24px;
	box-shadow:
		1px 1px 0px #808080,
		1px 0px 0px #808080,
		0px 1px 0px #808080,

		-1px -1px 0px #808080,
		-1px 0px 0px #808080,
		0px -1px 0px #808080;
}

#boardWrapper {
	display:block;
	image-rendering: pixelated;
	border: 3px solid transparent;
	border-image: url(common/border.webp) 3 stretch;
}

#board td {
	background-size: cover;
}

.hidden {
	background-image: url(xp/tiles/hidden.webp);
	cursor: pointer;
}

.empty {
	background-image: var(--clicked);
}

.flag {
	background-image: url(xp/tiles/flag.webp);
	cursor: pointer;
}

.tile1 {
	background-image: url(xp/tiles/1.webp);
}

.tile2 {
	background-image: url(xp/tiles/2.webp);
}

.tile3 {
	background-image: url(xp/tiles/3.webp);
}

.tile4 {
	background-image: url(xp/tiles/4.webp);
}

.tile5 {
	background-image: url(xp/tiles/5.webp);
}

.tile6 {
	background-image: url(xp/tiles/6.webp);
}

.tile7 {
	background-image: url(xp/tiles/7.webp);
}

.tile8 {
	background-image: url(xp/tiles/8.webp);
}

.number0 {
	background-image: url(common/numbers/0.webp);
}

.number1 {
	background-image: url(common/numbers/1.webp);
}

.number2 {
	background-image: url(common/numbers/2.webp);
}

.number3 {
	background-image: url(common/numbers/3.webp);
}

.number4 {
	background-image: url(common/numbers/4.webp);
}

.number5 {
	background-image: url(common/numbers/5.webp);
}

.number6 {
	background-image: url(common/numbers/6.webp);
}

.number7 {
	background-image: url(common/numbers/7.webp);
}

.number8 {
	background-image: url(common/numbers/8.webp);
}

.number9 {
	background-image: url(common/numbers/9.webp);
}

.number- {
	background-image: url(common/numbers/-.webp);
}

::-webkit-scrollbar {
	width: 17px;
	height:17px;
}

::-webkit-scrollbar-button {
	image-rendering: pixelated;
	width: 17px;
	height:17px;
}

::-webkit-scrollbar:vertical {
	image-rendering: pixelated;
	background-image: url(xp/scrollbar/barV.webp);
	background-repeat: repeat-y;
}

::-webkit-scrollbar:horizontal {
	image-rendering: pixelated;
	background-image: url(xp/scrollbar/barH.webp);
	background-repeat: repeat-x;
}

::-webkit-scrollbar-button {
	image-rendering: pixelated;
}

::-webkit-scrollbar-button:vertical:start {
	background-image: url(xp/scrollbar/buttonT.webp);
}

::-webkit-scrollbar-button:vertical:end {
	background-image: url(xp/scrollbar/buttonB.webp);
}

::-webkit-scrollbar-button:horizontal:start {
	background-image: url(xp/scrollbar/buttonL.webp);
}

::-webkit-scrollbar-button:horizontal:end {
	background-image: url(xp/scrollbar/buttonR.webp);
}

::-webkit-scrollbar-thumb {
	image-rendering: pixelated;
	border: 3px solid black;
	border-image-slice: 3;
	border-image-repeat: stretch;
	background-color: #b9caff;
	background-repeat: no-repeat;
	background-position: center;
	background-size:contain;
}

::-webkit-scrollbar-thumb:vertical {
	border-image-source: url(xp/scrollbar/handleV.webp);
	background-image: url(xp/scrollbar/thingV.webp);
}

::-webkit-scrollbar-thumb:horizontal {
	border-image-source: url(xp/scrollbar/handleH.webp);
	background-image: url(xp/scrollbar/thingH.webp);
}

::-webkit-scrollbar-corner {
	background-color: #ece9d8;
}
