@font-face {
    font-family: "Icons";
    src: url("/SymbolsNerdFontMono-Regular.ttf");
}

.icons {
    font-family: Icons;
    user-select: none;
}

.icons_big {
    font-family: Icons;
    user-select: none;
    font-size: 1.3em;
}