.minered {
	background-image: url(../catppuccin/macchiato/tiles/minered.webp);
}

.mine {
	background-image: url(../catppuccin/macchiato/tiles/mine.webp);
}

.minex {
	background-image: url(../catppuccin/macchiato/tiles/minex.webp);
}
