.minered {
	background-image: url(../minecraft/tiles/minered.webp);
}

.mine {
	background-image: url(../minecraft/tiles/mine.webp);
}

.minex {
	background-image: url(../minecraft/tiles/minex.webp);
}