.minered {
	background-image: url(../xp-mono/tiles/flowerred.webp);
}

.mine {
	background-image: url(../xp-mono/tiles/flower.webp);
}

.minex {
	background-image: url(../xp-mono/tiles/flowerx.webp);
}