html {
	--selected: url(bg/ds1/selected.webp);
}

body {
	margin:0px;
	display:grid;
	font-size: 23px;
	color: white;
}

#content {
	border-image-source:  url(bg/ds1/border.webp);
	border-image-slice: 25 22 27 17 fill;
	border-image-repeat: round;
}

.tableLabel {
	margin-top: 1px;
	border-top: white 6px solid;
	border-bottom: white 6px  solid;
	border-image: url(bg/ds1/tableborder.webp);
	border-image-slice: 33%;
	transition-duration: 0.2s;
}

.table {
	border-bottom: white 6px  solid;
	border-image: url(bg/ds1/tableborder.webp);
	border-image-slice: 33%;
}

.tableLabel:hover{
	background-image: url(bg/ds1/over.webp);
}

.optionsText {
	border-bottom: white 6px  solid;
	border-image: url(bg/ds1/tableborder.webp);
	border-image-slice: 33%;
}

#usetwolabel {
	border-top: white 6px  solid;
	border-bottom: white 6px  solid;
	border-image: url(bg/ds1/tableborder.webp);
	border-image-slice: 33%;
}

.tabButton {
	border-top: white 6px  solid;
	border-bottom: white 6px  solid;
	border-image: url(bg/ds1/tableborder.webp);
	border-image-slice: 33%;
}

/*For desktop*/
@media (min-width: 480px) {
	#content {
		margin-top:10px;
		border-top: 25px solid;
		border-right: 22px solid;
		border-bottom: 27px solid;
		border-left: 17px solid;
		padding-top: 2px;
		padding-right: 5px;
		padding-left: 10px;
		border-image-source:  url(bg/ds1/border.webp);
		border-image-slice: 25 22 27 17 fill;
		border-image-repeat: round;
	}
}