html {
	--selected: url(bg/ds3/selected.webp);
}

#content {
	border-image-source:  url(bg/ds3/border.webp);
	border-image-slice: 13 9 13 11 fill;
	border-image-repeat: stretch;
}

.tableLabel {
	margin-top: 6px;
	border-bottom: white 5px  solid;
	border-image: url(bg/ds3/tableborder.webp);
	border-image-slice: 5;

}

.table {
	border-bottom: white 5px  solid;
	border-top: white 5px  solid;
	border-image: url(bg/ds3/tableborder.webp);
	border-image-slice: 5;
}

.tableLabel:hover{
	background-image: url(bg/ds3/over.webp);
}

.form {
	overflow-x: hidden;
	overflow-y: auto;
}

.optionsText {
	border-bottom: white 5px  solid;
	border-image: url(bg/ds3/tableborder.webp);
	border-image-slice: 5;
}

#usetwolabel {
	border-top: white 5px  solid;
	border-bottom: white 5px  solid;
	border-image: url(bg/ds3/tableborder.webp);
	border-image-slice: 5 0 0 5;
}

.tabButton {
	border-top: white 5px  solid;
	border-bottom: white 5px  solid;
	border-image: url(bg/ds3/tableborder.webp);
	border-image-slice: 5 0 0 5;
}

/*For desktop*/
@media (min-width: 480px) {
	#content {
		border-top: 13px solid;
		border-right: 9px solid;
		border-bottom: 13px solid;
		border-left: 11px solid;
		padding-right: 4px;
		padding-left: 2px;
		border-image-source:  url(bg/ds3/border.webp);
		border-image-slice: 13 9 13 11 fill;
		border-image-repeat: stretch;
	}
}