body {
	background-color: #e858a0;
	margin: 0px;
	overflow: hidden;
}

#menu {
	position: absolute;
	z-index: 1;
}

#game {
	overflow: hidden;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.row {
	overflow: hidden;
	display: block;
	max-height: 64px;
}

.lockstepper {
	image-rendering: pixelated;
	image-rendering: crisp-edges;
	background-image: url('../graphics/size0/center.webp');
	width: 48px;
	height: 64px;
	display:inline-block;
}

/* This means the browser re-paints the whole screen every frame. It would probably be better for
performance to have all sprites as different elements and animate them by changing their opacity,
but sounds like too much work for now. I might do it later. Or maybe not. */

@keyframes left {
	0% {background-image: url('../graphics/size0/left0.webp');}
	18.181818% {background-image: url('../graphics/size0/left1.webp');}
	81% {background-image: url('../graphics/size0/left1.webp');}
	81.818181% {background-image: url('../graphics/size0/left2.webp');}
	90.909090% {background-image: url('../graphics/size0/left3.webp');}
	100% {background-image: url('../graphics/size0/center.webp');}
}

@keyframes right {
	0% {background-image: url('../graphics/size0/right0.webp');}
	18.181818% {background-image: url('../graphics/size0/right1.webp');}
	81% {background-image: url('../graphics/size0/right1.webp');}
	81.818181% {background-image: url('../graphics/size0/right2.webp');}
	90.909090% {background-image: url('../graphics/size0/right3.webp');}
	100% {background-image: url('../graphics/size0/center.webp');}
}

.left {
	animation-name: left;
	animation-duration: 0.18333s;
}

.right {
	animation-name: right;
	animation-duration: 0.18333s;
}
