{% import "macros.html" as macros %}

{% macro tab(path, key) %}
{% set u = get_url(path=path, lang=lang) ~ "/" %}
{% set is_current = current_url==u %}
{# blog subpages also count for blog #}
{% set starts_with = current_url is starting_with(u) %}
{% set is_blog = key == "blog" %}
<a href='{{ get_url(path=path, lang=lang) }}' {% if is_current or (is_blog and starts_with) %}
    class="current {% if not is_current %}inexact{% endif%}" {% endif %}>
    {{trans(key=key, lang=lang)}}
</a>
{% endmacro tab %}

{% block macros %}

{% endblock %}

<!DOCTYPE html>
<html lang='{{ lang }}'>

<head>
    <title>{% block title %}{% endblock %}</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/colors.css">
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/icon_font.css">
    {% block head %}{% endblock %}
</head>

<body>
    <nav>
        <div class="left">
            <span class="cat">{{ macros::icon(i="cat") }}</span>
            {{ self::tab(path="", key="index") }}
            {{ self::tab(path="projects", key="projects") }}
            {{ self::tab(path="blog", key="blog") }}
        </div>
        <div class="right">
            {# theme switching #}
            <button id="switch_theme" onclick="toggle_colors()">...</button>
            {# language switching #}
            {% for l,v in config.languages %}
            {% set t_url = current_path | regex_replace(pattern=`^/?(` ~ lang ~ `/)?`, rep="") %}
            <a class="switch_lang" href='{{ get_url(path=t_url, lang=l) }}'
                title='{{ config.extra.lang_tooltips[l] }}'>{{ config.extra.lang_icons[l] }}</a>
            {% endfor %}
        </div>
    </nav>
    <main>
        {% block content %}{% endblock %}
    </main>
    <script>
        let button = document.getElementById("switch_theme");

        // Set either light colors, or dark colors, depending on bool
        function set_colors(dark) {
            if (dark) {
                document.documentElement.classList.remove("light");
                document.documentElement.classList.add("dark");
            } else {
                document.documentElement.classList.remove("dark");
                document.documentElement.classList.add("light");
            }
            update_button(dark);
            save(dark);
        }

        function is_currently_dark() {
            if (document.documentElement.classList.contains("light")) {
                return false;
            } else if (document.documentElement.classList.contains("dark")) {
                return true;
            } else {
                if (window.matchMedia && window.matchMedia('(prefers-color-scheme: dark)').matches) {
                    return true;
                } else {
                    return false;
                }
            }
        }

        function update_button(dark) {
            if (dark) {
                button.innerHTML = "{{ config.extra.icons.sun }}";
                button.title = "{{ trans(key='tooltip_light', lang=lang) }}";
            } else {
                button.innerHTML = "{{ config.extra.icons.moon }}";
                button.title = "{{ trans(key='tooltip_dark', lang=lang) }}";
            }
        }

        function save(dark) {
            let theme = "light";
            if (dark) { theme = "dark"; }
            document.defaultView.sessionStorage.setItem("theme", theme)
        }

        function read() {
            let t = document.defaultView.sessionStorage.getItem("theme");
            if (t) {
                return t == "dark";
            }
            return null;
        }

        function toggle_colors() {
            set_colors(!is_currently_dark());
        }


        set_colors(read() != null ? read() : is_currently_dark())
    </script>
</body>

</html>