{% extends "base.html" %}

{% block title %}
Blog
{% endblock title %}

{% block head %}
<link rel="stylesheet" href="/css/blog.css">
<link rel="alternate" type="application/atom+xml" title="Atom"
    href="{{ get_url(path=current_path ~ 'atom.xml', trailing_slash=false) }}">
<link rel="alternate" type="application/rss+xml" title="RSS"
    href="{{ get_url(path=current_path ~ 'rss.xml', trailing_slash=false) }}">
{% endblock head %}

{% block content %}

<header>
    <h1 class="title">
        {{ section.title }}
    </h1>
    <div class="feeds">
        <a id="atom_link" title="{{ trans(key='atom_feed', lang=lang) }}"
            href="{{ get_url(path=current_path ~ 'atom.xml', trailing_slash=false) }}"> Atom {{
            macros::smallicon(i="atom") }}</a>
        <a id="rss_link" title="{{ trans(key='rss_feed', lang=lang) }}"
            href="{{ get_url(path=current_path ~ 'rss.xml', trailing_slash=false) }}">RSS {{
            macros::smallicon(i="rss") }}</a>
    </div>
</header>

<div class="blog_entries">
    {% for page in section.pages %}
    <article class="blog_entry">
        <div class="blog_data">
        <a href="{{ page.permalink | safe }}">
            <h2>{{ page.title | markdown(inline=true) | safe }}</h2>
        </a>
        <span class="date">{{ page.date | date(format=trans(key="date_format", lang=lang)) }}</span>
        {% if page.description %}
        {# if there's a description, show that #}

        <p>{{ page.description | safe }}</p>
        {% elif page.summary %}
        {# if there's no description, bun an explicit summary show that #}

        {{ page.summary | safe }}
        {% else %}
        {# shows the first paragraph as a preview #}
        {% set s = page.content | split(pat="</p>") %}
        {% set o = s[0] ~ "</p>" %}
        {{ o | safe }}
        {% endif %}
        </div>
        {% if page.extra.cover_img %}
        <div class="img_column">
            <img src="{{ page.extra.cover_img }}"/>
        </div>
        {% endif %}
    </article>
    {% endfor %}
</div>

{% endblock content %}
