{% extends "base.html" %}

{% block title %}
{{ trans(key="index_title", lang=lang) }}
{% endblock title %}

{% block head %}
<link rel="stylesheet" href="/css/index.css">
{% endblock head %}

{% block content %}
<h1 class="title">
    {{ trans(key="index_title", lang=lang) }}
</h1>
{{ trans(key="about_me", lang=lang) }}

<h2 class="contact">
    {{ trans(key="contact", lang=lang) }}
</h2>
<ul class="links">
    <li>
        {{ macros::bigicon(i="github") }}
        <a href="https://github.com/leshuguita">https://github.com/leshuguita</a>
    </li>
    <li>
        {{ macros::bigicon(i="codeberg") }}
        <a href="https://codeberg.org/leshuguita">https://codeberg.org/leshuguita</a>
    </li>
    <li>
        {{ macros::bigicon(i="mail") }}
        <a href="mailto:leshuguita.saiyan@gmail.com">leshuguita.saiyan@gmail.com</a>
    </li>
</ul>

{% endblock content %}