@font-face {
	font-family: tic;
	font-display: swap;
	src: url(font.ttf);
}

html {
	background-color: #383838;
}

body {
	margin:2px;
	display:grid;
	font-family: tic;
	font-size: 12px;
	padding-left: 10px;
	padding-right:10px;
	color:white;
	user-select: none;
}

span {
	margin: -10px;
}

img {
	margin-right: 5px;
	image-rendering: pixelated;
	position:relative;
	top: -2px;
}

a {
	color:white;
	text-decoration: none;
	text-rendering: geometricPrecision;
}

a:hover {
	color:gray;
	
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
	display:inline;
	white-space: nowrap;
}