@font-face {
	font-family: tic;
	font-display: swap;
	src: url(font.ttf);
}

html {
	background-color: #24273a;
}

body {
	margin:2px 0px 0px 0px;
	display: inline-block;
	font-family: tic;
	font-size: 12px;
	padding-left: 10px;
	padding-right:10px;
	color:#cad3f5;
	user-select: none;
}

#content {
	display: inline-block;
	outline: none;
}

span {
	margin: -10px;
}

img {
	margin-right: 5px;
	image-rendering: pixelated;
	position:relative;
	top: -2px;
}

a {
	color:#cad3f5;
	text-decoration: none;
	text-rendering: geometricPrecision;
}

a:hover {
	color: #939ab7;
}

li:hover {
	color: #939ab7;
}

ul {
  list-style-type: none;
  display: block;
  width: fit-content;
  margin: 0;
  padding: 0;
}

li {
	white-space: nowrap;
	display: block;
	width:fit-content;
}

#categories > li {
	cursor: pointer;
	display: inline;
}

#things {
	position: relative;
	left:10px;
	padding-top:4px;
}

#things > li {
	padding-top: 2px;
	padding-bottom: 2px;
}
.invisible {
	display: none;
}
